body {
  margin: 0;
  background: #ee9ca7;
  cursor: crosshair;
}

canvas {
  display: block;
}

h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 4em;
  font-weight: 900;
  text-align: center;
  user-select: none;
  text-shadow: 2px 2px 4px #000000;
}
